.gpt3__blog-container_article {
  display: flex;
  flex-direction: column;
  background-color: var(--color-footer);
  font-family: var(--font-family);
  color: #ffffff;
  border-top-left-radius: 6.2rem;
}

.gpt3__blog-container_article-image img {
  height: 100%;
  width: 100%;
}

.gpt3__blog-container_article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.6rem 2.4rem;
}

.gpt3__blog-container_article-content p {
  font-weight: 700;
  font-size: 1.1649rem;
  line-height: 3.5rem;
}

.gpt3__blog-container_article-content h3 {
  font-weight: 800;
  font-size: 2.511rem;
  line-height: 3rem;
  cursor: pointer;
  margin-bottom: 8rem;
}

.gpt3__blog-container_article-content p:last-child {
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .gpt3__blog-container_article-content h3 {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}
